.dtt-button {
  display: inline-block;
  cursor: pointer;
  outline: 0;
}

.dtt-button--primary {
  background: var(--button-primary-background);
  border-color: var(--button-primary-border-color);
}

.dtt-button--primary:active {
  background: var(--button-primary-background-active);
}

.dtt-button--danger {
  background: var(--button-danger-background);
  border-color: var(--button-danger-border-color);
}

.dtt-button--danger:active {
  background: var(--button-danger-background-active);
}

.dtt-button--success {
  background: var(--button-success-background);
  border-color: var(--button-success-border-color);
}

.dtt-button--success:active {
  background: var(--button-success-background-active);
}